<a href="https://colab.research.google.com/github/gloryprospect39-blip/MMDT_T-PY101_Batch03/blob/main/Kay(GloryLinn)/Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
len("My name is python")

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [4]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s.count("Python")

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [6]:
Is1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
ls3 = Is1 + ls2
len(ls3)

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [9]:
my_dict = {"Myo":32, "Thida":64}
my_dict
my_dict.keys()
my_dict.values()

dict_values([32, 64])

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [10]:
my_set1 = {"Name", "age", "Height"}
my_set2 = {"Name", "status", "Education"}
my_set3 = my_set1.union(my_set2)
my_set3
len(my_set3)

5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [11]:
user_string = input("Enter a string: ")
new_string = user_string[0] + "*" + user_string[2:] + "!!!"
print(new_string)

Enter a string: Kay
K*y!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [12]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
new_string= s.lower()
new_string = new_string.replace(".", "")
print(new_string)

floating-point values in python are always done in double precision; hence, python float types correspond to doubles in a c-like language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [15]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

missing_number = sum(L1) - sum(L2)

print("Missing number in L2 is:", missing_number)

Missing number in L2 is: 18

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [16]:

ls1 = ["apple", "banana", "cherry"]
ls2 = ls1.copy()
ls2.append("blueberry")
print("Original list:", ls1)
print("New list:", ls2)

Original list: ['apple', 'banana', 'cherry']
New list: ['apple', 'banana', 'cherry', 'blueberry']